$icomoon-font-family: "chubb" !default;
$icomoon-font-path: "./../fonts/" !default;

$icon-plus: "\e90e";
$icon-down-1: "\e906";
$icon-download: "\e905";
$icon-arr-left: "\e900";
$icon-arr-right: "\e901";
$icon-chevron-left: "\e902";
$icon-close-menu: "\e903";
$icon-down: "\e904";
$icon-cancel: "\e907";
$icon-menu: "\e908";
$icon-more-vertical: "\e909";
$icon-print: "\e90a";
$icon-receipt-ok: "\e90b";
$icon-search: "\e90c";
$icon-ok-form: "\e90d";


