.boxes__box {
  &--cobertura.active {
    .boxes__box__content {
      padding: $PADDING_BOXES_SIDES ($PADDING_BOXES_SIDES / 1.5);

      @include break(xs){
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 43px;
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0));
          pointer-events: none;
        }
      }
      
      .form-row {
        margin-bottom: 0;
      }
    }
  }
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  // left: -$PADDING_BOXES;
  // margin-top: -$PADDING_BOXES_SIDES;

  h4 {
    @include fontSize($LABEL_FONT_SIZE);

    @include break(xs) {
      @include fontSize($LABEL_FONT_SIZE_MOBILE);
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    margin-bottom: ($MARGIN_UP_DOWN / 2);
  }
}