.cover {
  &__box {

    &.active {

      .cover__title {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-color: $COLOR_BORDER;

        .coverSelect {
          color: #999999;
          div.icon { transform: rotate(90deg); top:51%; }
        }
      }      
      
      .cover__list {
        height: 100%;
        border: 1px solid $COLOR_BORDER;
        border-top:0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

    }

    &[state="completed"] {

      .cover__title {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-color: $primary;

        .selectedItem {
          display: flex;
        }
        
        h4 {
          &:after {
            content: '';
            height: calc(100% + #{$PADDING_BOXES_SIDES *2} );
            width: 1px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            background-color: $primary;
          }
        }

        .coverSelect {
          color: #999999;

          &:before {
            content: '';
            height: calc(100% + #{$PADDING_BOXES_SIDES *4} );
            width: 1px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            background-color: $primary;
          }

          .modifyBox { display: none; }
          span.edit { display: flex; }
        }
      }
    }


  }
}