body {
  &.closeMenu {

    // button menu
    .header__button {
      transform: rotate(-180deg);
      @include break(xs) {
        transform: rotate(0deg);
      }
    }

    .rSide {
      width: 100%;
    }

    // nav menu
    .menu {
      @include break(xs) {
        left: 0;
      }
      @include break(sm) {
        margin-left: -$MENU_WIDTH_SM;
      }
      @include break(md) {
        margin-left: -$MENU_WIDTH_MD;
      }
      @include break(lg) {
        margin-left: -$MENU_WIDTH_LG;
      }
      @include break(xl) {
        margin-left: -$MENU_WIDTH_XL;
      }
    }
  }
}