$width: 15.625em;
$height: 25px;
$radius: 2px;
$transition: .3s;
$font-size: $width * .076;
$color_title: $COLOR_CELESTE; 
$color_actualDate: $COLOR_BORDER; 
$color_day : $COLOR_LIST;
$SELECT_ARROW: 10px;
$borderColorContainer : $COLOR_BORDER;