// .new {
//   // @include make-col(10);
//   background-color: blue;

//   @include upTo(xs) {
//     background-color:red;
//   }
// }

.container {
  @include make-container();

  &.containerBig {
    max-width: 886px !important;
  }

  .row {
    @include make-row();
    @include break(xs) {
      padding: 0 $PADDING_MOBILE;
    }
  }
}

// subtitle index
.subtitle {
  @include fontSize(18px);
  font-weight: $REGULAR;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $COLOR_CELESTE;
}

.content {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  // max-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

// TITLE RIGHT CONTAINER
.rSide {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px 20px;
  align-items: flex-start;
  transition: all $ANIMATION_TIMING $ANIMATION_EASING;
  transition-delay: $ANIMATION_DELAY;

  @include break(xs){
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 43px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0));
      pointer-events: none;
    }
  }
  @include downTo(sm) {
    width: 100%;
  }
  // @include break(sm) {
  //   width: (100 - $MENU_WIDTH_SM);
  // }
  @include break(md) {
    width: (100 - $MENU_WIDTH_MD);
  }
  @include break(lg) {
    width: (100 - $MENU_WIDTH_LG);
  }
  @include break(xl) {
    width: (100 - $MENU_WIDTH_XL);
  }

  
  // TITLE SECTIONS
  .title {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;

    @include break(xs) {
      flex-direction: column;
      align-items: flex-start;
    }

    h2 {
      @include fontSize(16px);
      letter-spacing: .1em;
      font-weight: $REGULAR;
      line-height: 1;
      color: $COLOR_TITLE_SECTION;

      @include break(xs) {
        @include fontSize(14px);
        order: 2;
        margin-top: 1.1em;
      }
    }
  }

  // BREADCRUMB
  .bread {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    li {
      margin-right: 5px;
      a,
      span {
        @include fontSize(13px);
        font-weight: $REGULAR;
        line-height: 1;
        letter-spacing: 1px;
        color: $COLOR_LIST;

        @include break(xs) {
          @include fontSize(12px);
        }
      }

      a {
        &:hover {
          color: $primary;
        }
      }

      &:last-child {
        margin-right: 0;
        a {
          color: $primary;
        }
      }
    }
  }
}

// date Form
.dateContent {
  width: 100%;

  form {
    max-width: 700px;

    .form-row {
      // margin-bottom: 10px;
      @include break(xs) {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }

    .col {
      padding-right: 0; 
      @include break(xs) {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }

    label {
      @include fontSize($LABEL_FONT_SIZE);
      font-weight: $REGULAR;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #6d7278;
      margin-bottom: 0;

      @include break(xs) {
        font-size: $LABEL_FONT_SIZE_MOBILE;
      }

      @include upTo(sm) {
        margin-right: 26px;
      }
    }

    @include break(xs) {
      .btn {
        width: 100%;
        max-width: 100%;
      }
    }

    input.form-control,
    select.form-control {
      height: 39.2px;
      border-radius: 6px;

      &.mt20mobile {
        @include break(xs) {
          margin-top: 20px;
        }
      }

      @include upTo(xs) {
        margin-right: 10px;
      }

      @include fontSize($LABEL_FONT_SIZE);
      font-weight: $MEDIUM;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.13px;
      color: #323c47;

      @include break(xs) {
        font-size: $LABEL_FONT_SIZE_MOBILE;
      }
      
      &::placeholder, 
      option {
        @include fontSize($LABEL_FONT_SIZE);
        font-weight: $MEDIUM;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.13px;
        color: #323c47;
  
        @include break(xs) {
          font-size: $LABEL_FONT_SIZE_MOBILE;
        }
      }

      @include upTo(xs) {

        &:last-child {
          margin-right: 0;
        }

        &.w160 {
          max-width: 160px;
        }

        &.w225 {
          max-width: 225px;
        }

        &.w245 {
          max-width: 245px;
        }

        &.w212 {
          max-width: 212px;
        }
      }
    }
  }
}

// CONSULTAS
.consultas {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 36px 20px;
  overflow-x: hidden;

  @include break(xs) {
    width: 100vw;
    left: -20px;
  }

  .icon-download {
    @include fontSize(12px);
  }

  hgroup.subt {
    padding-bottom: 21px;
  }

  .downloadBox {
    a {
      margin-right: 20px;
      @include break(xs) {
        margin-right: 0;
      }
      &:first-child {
        @include break(xs) {
          display: none;
        }
      }
      &:last-child {margin-right: 0;}
    }
  }

  // table
  div.table {
    position: relative;
    overflow-x: scroll;
    width: 100%;
    @include break(xs) {
      width: 100vw;
      left: -20px;
    }
  }
  table.table {
    border-top: 1px solid rgba( $COLOR_GREY, .1 );

    th,
    td {
      &:first-child {
        padding-left: 20px;
      }
    }

    thead {
      th {
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.9);
        @include fontSize(14px);
        font-weight: $BOLD;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: rgba(51, 51, 51, 0.5);

        i {
          color: rgba(51, 51, 51, 1);
        }
      }
    }

    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: rgba(198, 203, 212, 0.24);
        }
      }
      td {
        position: relative;
        border: 0;
        @include fontSize(14px);
        font-weight: $REGULAR;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: #333333;
        vertical-align: middle;

        &:last-child {
          text-align: right;
          justify-self: flex-end;

          i {
            cursor: pointer;
            padding: 10px;
            padding-right: 0;
          }
        }
      }
    }
  }
}