.header {
  position: relative;
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // LOGO
  &__logo {
    font-family: 'Montserrat', sans-serif;
    @include fontSize(18px);
    font-weight: 900;
    line-height: 1;
    letter-spacing: 1.38px;
    color: $COLOR_CELESTE;
    
    span {
      color: #3b4859;
    }
  }

  &__button {
    $size : 40px;
    $padd: 14.4px;

    position: absolute;
    width: $size;
    height: $size;
    // left: (240px - $size - ($padd / 2));
    transform: rotate(0deg);
    transition: transform $ANIMATION_TIMING $ANIMATION_EASING;
    transition-delay: $ANIMATION_DELAY;

    @include break(xs) {
      transform: rotate(-180deg);
      left: calc(#{$MENU_WIDTH_XS} - #{$size} - (#{$padd} / 2));
    }
    @include break(sm) {
      left: calc(#{$MENU_WIDTH_SM} - #{$size} - (#{$padd} / 2));
    }
    @include break(md) {
      left: calc(#{$MENU_WIDTH_MD} - #{$size} - (#{$padd} / 2));
    }
    @include break(lg) {
      left: calc(#{$MENU_WIDTH_LG} - #{$size} - (#{$padd} / 2));
    }
    @include break(xl) {
      left: calc(#{$MENU_WIDTH_XL} - #{$size} - (#{$padd} / 2));
    }
    
    // icon close Menu
    i.icon-close-menu {
      position: relative;
      cursor: pointer;
      padding: $padd;
      top: 12px;
      // transform: rotateY(180deg); rotate in state
    }
  }
  
  // USER
  &__user {
    display: flex;
    align-items: center;

    // img
    figure  {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 30px;
      max-width: 30px;
      border-radius: 100%;
      background-color: lightgrey;
      img {
        width: 100%;
      }
    }

    // name
    span {
      margin-left: 15px;
      @include fontSize(15px);
      letter-spacing: .6px;
      letter-spacing: .6px;font-family: 'Montserrat', sans-serif;
      font-weight: 300;
    }
  }
}