.module {
  display: none;
  flex-direction: column;

  &-open {
    overflow-y: hidden;
  }
}

.modal {
  &.show {
    &.accesorios {
      .module__accesorios { display: flex; }
    }

    &.broker {
      .module__broker { display: flex; }
    }

    &.marca {
      .module__marca { display: flex; }
    }
  }
}