.btn {
  @include fontSize($BUTTON_FONT_SIZE);
  border-radius: $INPUT_BORDER_RADIUS;
  padding: .45em .75em;
  transition: all $ANIMATION_TIMING $ANIMATION_EASING;
  z-index: 2;
  height: $BUTTON_HEIGHT;

  &--alignRight {
    margin-left: auto;
    margin-right: 0; 
  }

  &--link {
    padding: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: 900;
    line-height: 1;
    color: $COLOR_BUTTON_LINK;

    // @include break(xs) {
    //   font-size: 14px;
    // }
  }

  &-primary {
    color: white;
    max-width: $BUTTTON_WIDTH;
  }

  &-secondary {
    color: $COLOR_CELESTE;
    background-color: transparent;
    border-color: $COLOR_CELESTE;
    border-radius: 2px;

    span {
      @include fontSize(14px);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
    }
  }
}