// FORM
$INPUT_MARGINS : 20px;
$CHECKBOX_SIZE: 26px;
$INPUT_HEIGHT_DESKTOP: 39.2px;
$INPUT_HEIGHT_MOBILE: 45px;
$SELECT_ARROW: 12.5px;

$INPUT_PADDING_TOP_BOTTOM : 11px;
$INPUT_PADDING_LEFT_RIGHT : 17px;
$INPUT_PADDING : $INPUT_PADDING_TOP_BOTTOM $INPUT_PADDING_LEFT_RIGHT;

$INPUT_PADDING_TOP_BOTTOM_MOBILE : 5px;
$INPUT_PADDING_LEFT_RIGHT_MOBILE : 15px;
$INPUT_PADDING_MOBILE : $INPUT_PADDING_TOP_BOTTOM_MOBILE $INPUT_PADDING_LEFT_RIGHT_MOBILE;

$INPUT_BORDER_RADIUS : 4.2px;
$INPUT_FONT_SIZE : 16px;
$INPUT_FONT_SIZE_PLACEHOLDER : $INPUT_FONT_SIZE;

$COLOR_INPUT: #353b50;
$COLOR_INVALID_FORM: #e02020;
$COLOR_VALID_FORM: #28a745;
$COLOR_BORDER: #dbdbdb;
$COLOR_BUTTON_LINK : $COLOR_AZUL;
$COLOR_BG_INPUTS : white;
$COLOR_PLACEHOLDER : #bdbdbd;

// BUTTON
$BUTTON_FONT_SIZE : 16px;
$BUTTON_HEIGHT : 39.2px;
$BUTTTON_WIDTH: 134px;
$BUTTTON_BORDER_RADIUS: $INPUT_BORDER_RADIUS;